<html>
<style>
    body {
        font-size: 15pt;
        font-family: arial;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Review the customer</h1>
    <h3>Your login is: {{ person_id }}! Remember it to login again.</h3>
    <p><a href="/">Logout</a></p>
    <p><a href="home?person_id={{ person_id }}">Return to home page</a></p>

    <p>The customer for this booking is: {{ name }}</p>
    <p>Email {{ name }}: {{ email }}</p>
    <p>Call {{ name }}: {{ phone }}</p>

    <h1>Review this customer</h1>
    <form name="CustomerReview" method="POST" action="/new-customer-review">
        <input type="hidden" name="person_id" value="{{ person_id }}" />
        <input type="hidden" name="customer_id" value="{{ customer_id }}" />
        <label for="ratingNumber">Rating number:</label>
        <select id="ratingNumber" name="ratingNumber" size="5">
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
        </select>
        <br />
        <label for="reviewText">Write your review:</label>
        <input type="text" id="reviewText" name="reviewText" maxlength=100 required>
        <input type="submit">
    </form>


</body>


</html>